.option {
    padding: 24px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #eee8e0;
}

.option p:last-of-type {
    margin-bottom: 0 !important;
}

.option.selected {
    outline: 2px solid #8a130a;
    outline-offset: -1px;
}

.option.selected .quantity-stepper {
    visibility: visible;
}

.option-image-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.option-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}